<h2>Games </h2>

<div class = "calendar-header">
  <button mat-icon-button (click)="previousWeek()" [disabled]="(weekToDisplay==1)" [ngClass]="{ 'week-button-disabled': (weekToDisplay==1) }"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button mat-icon-button (click)="nextWeek()" [disabled]="(weekToDisplay==18)" [ngClass]="{ 'week-button-disabled': (weekToDisplay==18) }"><mat-icon>keyboard_arrow_right</mat-icon></button>
  <span>Week {{weekToDisplay}}</span>
</div>

<table mat-table [dataSource]="games">
  <ng-container matColumnDef="awayTeam">
    <th mat-header-cell *matHeaderCellDef>Away Team </th>
    <td  mat-cell *matCellDef="let game"> {{game.awayTeam.name}} {{getFormattedWeeklyTeamScore(game.awayTeam.weeklyTeamScore)}} <img class="team-icon" src="assets/images/{{game.awayTeam.abbreviation}}.png" alt="Away team logo" /></td>
  </ng-container>
  <ng-container matColumnDef="homeTeam">
    <th mat-header-cell *matHeaderCellDef>Home Team </th>
    <td mat-cell *matCellDef="let game"> {{game.homeTeam.name}} {{getFormattedWeeklyTeamScore(game.homeTeam.weeklyTeamScore)}} <img class="team-icon" src="assets/images/{{game.homeTeam.abbreviation}}.png" alt="Home team logo" /></td>
  </ng-container>
  <ng-container matColumnDef="venue">
    <th mat-header-cell *matHeaderCellDef>Venue </th>
    <td mat-cell *matCellDef="let game"> {{game.venue.name}}</td>
  </ng-container>
  <ng-container matColumnDef="gameStartingTime">
    <th mat-header-cell *matHeaderCellDef>Local Game Start Time </th>
    <td mat-cell *matCellDef="let game"> {{DateTime.fromISO(game.startTime, { zone: game.venue.zoneId }).toLocaleString(DateTime.DATETIME_SHORT) }}</td>
  </ng-container>
  <ng-container matColumnDef="pointSpread">
    <th mat-header-cell *matHeaderCellDef>Point Spread </th>
    <td mat-cell *matCellDef="let game"> {{game.pointSpread}}</td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>Score </th>
    <td mat-cell *matCellDef="let game"> {{game.awayPoints}}-{{game.homePoints}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>



