.mat-card {
  min-width: 100px;
  max-width: 300px;
  width: 50%;
}

.register-user-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px; /* or whatever width you prefer */
  margin: 0 auto;
  padding: 20px;
}

/* Make form fields take full width of the container */
.register.user-form mat-form-field {
  width: 100%;
}

.register-user-button {
  margin:20px;
}

.has-error {
  font-size: larger;
  text-align: center;
  color: orangered;
}

