<div class="root-container">
<mat-toolbar *ngIf="tokenStorageService.getUser()" color="primary">
  <button mat-button routerLink="/teams" routerLinkActive="active">
    <mat-icon >group</mat-icon>
    <span>Teams</span>
  </button>
  <button mat-button routerLink="/games" routerLinkActive="active">
    <mat-icon >sports_football</mat-icon>
    <span>Games</span>
  </button>
  <button mat-button routerLink="/pool-table" routerLinkActive="active">
    <mat-icon >people_alt</mat-icon>
    <span>My Pool</span>
  </button>

  <button mat-button [matMenuTriggerFor]="adminPanel" >
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin Panel</span>
  </button>
  <mat-menu #adminPanel="matMenu">
    <button mat-menu-item routerLink="/pools" routerLinkActive="active">
      <mat-icon>touch_app</mat-icon>
      <span>Pools</span>
    </button>
    <button mat-menu-item routerLink="/register" routerLinkActive="active">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userProfile">
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </button>
  <mat-menu #userProfile="matMenu">
    <button mat-menu-item routerLink="/picks" routerLinkActive="active">
      <mat-icon>touch_app</mat-icon>
      <span>My Picks</span>
    </button>
    <button mat-menu-item routerLink="/changePassword" routerLinkActive="active">
      <mat-icon>lock</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item routerLink="/logout" routerLinkActive="active">
      <mat-icon >exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
