<mat-toolbar *ngIf="tokenStorageService.getUser()" color="primary" class="app-activity">
  <button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button routerLink="/teams" routerLinkActive="active">
    <mat-icon >group</mat-icon>
    <span style="overflow-wrap: break-word">Teams</span>
  </button>
  <button mat-button routerLink="/games" routerLinkActive="active">
    <mat-icon >sports_football</mat-icon>
    <span style="overflow-wrap: break-word">Games</span>
  </button>
  <button mat-button [matMenuTriggerFor]="userProfile">
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </button>
  <mat-menu #userProfile="matMenu">
    <button mat-button routerLink="/logout" routerLinkActive="active">
      <mat-icon >exit_to_app</mat-icon>
      <span style="overflow-wrap: break-word">Logout</span>
    </button>


  </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>

