
.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

:host {
  display: block;
}

.mat-button  {
  color: black;
  display: flex;

}
.mat-icon {
  font-size: medium;
}

.mat-icon-button {
  color: black;
  display: flex;
  min-width: 80px;
  max-width: 150px;
}

.mat-menu-item {
  height: 24px;
  line-height: 24px;
  display: flex;
  min-width: 80px;
}

.user-profile {
  margin-left: auto;
  display: flex;
  align-items: center
}

.profile-icon-text {
  font-size: smaller;
}

.mat-mdc-button .profile-icon {
  transform: scale(2.0);
}

/* If you need to push it to the right in your flex container */
.mat-mdc-menu-trigger {
  margin-left: auto;
}
.menu-item-right {
  padding-left: 50px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #3f51b5 ;
}

.mat-menu-item.active {
  background-color: rgba(0, 0, 0, 0.04);  /* subtle dark overlay */
  font-weight: bold;
}
