.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

:host {
  display: block;
}

.mat-button  {
  color: black;
  display: flex;

}
.mat-icon {
  font-size: medium;
}

.mat-icon-button {
  color: black;
  display: flex;
  min-width: 80px;
  max-width: 150px;
}

.mat-menu-item {
  height: 24px;
  line-height: 24px;
  display: flex;
  min-width: 80px;

}

.mat-mdc-button .profile-icon {
  transform: scale(2.0);
}

/* If you need to push it to the right in your flex container */
.mat-mdc-menu-trigger {
  margin-left: auto;
}
.menu-item-right {
  padding-left: 50px;
}
