.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 8px;
  min-width: 250px;
  max-width: 350px;
  background-color: rgba(168, 211, 168, 0.32);
}

.login-page .main-content {
  padding: 0 !important;
}

.login-title {
  text-align: center;
  padding-top: 1.5rem;
  color: #cab914;
}

:host  {
  display: block;
  min-height: 100vh;
  background: url('/assets/images/field-background.svg');
  background-size: cover;
  background-position: center;
}

/* Make form fields take full width of the container */
.login-form mat-form-field {
  width: 100%;
}

/* Center the login button */
.login-button {
  margin: 20px;
  background-color: #0e4a0e !important;
}

.has-error {
  font-size: larger;
  text-align: center;
  color: orangered;
}

.login-register-link {
display: block;
text-align: center;
margin-top: 20px;
text-decoration: none;
color: #1976d2; /* Material Design primary blue */
font-size: larger;
padding: 10px;
}

.login-register-link:hover {
  text-decoration: underline;
  color: #1565c0; /* Slightly darker blue on hover */
}

/* Add some spacing after the divider */
mat-divider {
  margin: 20px 0;
}
